body {
    margin: 0 auto;
    padding: 0;
    width: 1600px;
}

.header {
    margin: 0;
    padding: 0;
}


/* Меню сайта*/
.header-nav {
    height: 75px;
    background: #222222;
}

.header-nav-menu {
    height: 100%;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
}

.container {
    padding-left: 230px;
    padding-right: 230px;
    box-sizing: border-box;
}

.header-nav-menu-left-item {
    margin-right: 41px;
}

.header-nav-menu-right-item{
    margin-right: 33px;
}

/*Шапка сайта*/
.header-top{
    height: 764px;
    background: #F1E4E6;
}

.header-top-content{
    background-image: url('../img/removebg-preview.png');
    background-repeat: no-repeat;
}