@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: Lato;
    margin: 0 auto;
    padding: 0;
    width: 1600px;
}

.header {
    margin: 0;
    padding: 0;
}


/* Меню сайта*/
.header-nav {
    height: 75px;
    background: #222222;
}

.header-nav-menu {
    height: 100%;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
}

.header-nav-menu-left {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 230px;
    padding-right: 230px;
    box-sizing: border-box;
}

.header-nav-menu-left-item {
    display: inline;
    margin-right: 41px;
}

.header-nav-menu-right {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-menu-right-item {
    display: inline;
    margin-right: 33px;
}

/*Шапка сайта*/
.header-top {
    margin: 0 auto;
    padding: 0;
    height: 764px;
    background: #F1E4E6;
}

.header-top-content {
    height: 100%;
    background-image: url('../img/removebg-preview.png');
    background-repeat: no-repeat;
}

.header-top-content-blockquote {
    position: relative;
    top: 40%;
    left: 633px;
    margin: 0;
    width: 377px;
    padding: 0 16px;
    border-left: 12px solid #F16D7F;
}

.header-top-content-blockquote-heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    padding: 0;
    margin: 0;
}

.header-top-content-blockquote-parag {
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
    padding: 0;
    margin: 0;
}

.header-top-content-blockquote-parag-last_word {
    color: #F16D7F;
}

/*Основной контент*/

.main-top {
    margin-bottom: 96px;
    padding: 65px 0 30px 0;
}

.main-items-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.main-top-item-1, .main-top-item-2, .main-top-item-3 {
    width: 360px;
    height: 260px;
    box-sizing: border-box;
    margin: 0 0 30px 0;
    padding: 105px 103px;
}

.main-top-item-1, .main-top-item-2 {
    margin-right: 30px;
}

.main-top-item-1 {
    background-image: url("../img/main-top-item1.jpg");
    background-repeat: no-repeat;
}

.main-top-item-2 {
    background-image: url("../img/main-top-item2.jpg");
    background-repeat: no-repeat;
}

.main-top-item-3 {
    background-image: url("../img/main-top-item3.jpg");
    background-repeat: no-repeat;
}

.main-top-item-4 {
    width: 100%;
    height: 180px;
    background-image: url("../img/main-top-item4.jpg");
    background-repeat: no-repeat;
    padding: 65px 0;
    box-sizing: border-box;
}

.main-top-parag {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.main-top-header-1 {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;
}

.main-bottom-heading {
    margin: 0 0 6px 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.main-bottom-heading-parag {
    margin: 0 0 48px 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

